@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="container p-4 m-2">
        <h1 class="text-danger fw-bold">@ViewData["Title"]</h1>
        <p class="text-primary fs-2 ">You do not have access to this resource.</p>
    </div>
    
</header>
