@* Toastr Notifications: https://codeseven.github.io/toastr/ *@

@if (TempData["success"] != null)
{  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["success"]');
    </script>
    
    @* <h2 class="rounded-3 bg-info text-bg-info p-3">@TempData["success"]</h2>  *@
}

@if (TempData["error"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.error('@TempData["success"]');
    </script>
@*     <h2 class="rounded-3 bg-danger text-bg-danger p-3">@TempData["error"]</h2> *@
}

